body {
  position: relative;
}

section {
  padding: 20px 0;
}

header {
  background: url('/public/img/waterfall-7344396_1920.jpg') no-repeat center center/cover;
  color: rgb(16, 15, 15);
  padding: 105px 0;
}

.navbar {
  background-color: rgb(23, 66, 8);}

.navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav .nav-link.active {
  color: #f8f9fa;
  font-weight: bold;
}

/* Animación flotante para imágenes */
.float-image {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

.fondo {
  background-color: #ffffff;
}
/* Estilos personalizados para la tabla de datos históricos */
.table thead th {
  background-color: #198754;
  color: #fff;
  text-align: center;
}

.table tbody td {
  text-align: center;
  vertical-align: middle;
}

.card {
  box-shadow: 0 2px 8px rgb(1, 0, 0);
}
.img{
  float: left;
  width: 300px;
  margin-bottom: 20px;
}
